.social {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
}
.social__item {
  margin: 0 16px;
  cursor: pointer;
}
.social__icon {
  fill: #666666;
  transition: 0.3s;
}
.social__icon:hover {
  fill: $color-primary;
}
.social__icon:active {
  opacity: 0.3;
}
@media (min-width: $tablet) {
  .social__item {
    margin: 0 10px;
  }
  .social {
    border-top: none;
    border-bottom: none;
  }
  .social__icon--vk {
    width: 31px;
    height: 19px;
  }
  .social__icon--insta {
    width: 23px;
    height: 23px;
  }
  .social__icon--fb {
    width: 14px;
    height: 28px;
  }
}
