.main-nav {
  display: none;
  width: 100%;
  margin-bottom: -13px;
  margin-top: 13px;
}

.main-nav--open {
  display: block;
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav__logo {
  width: 190px;
  height: 37px;
}

@media (min-width: $tablet) {
  .main-nav {
    display: block;
    margin: 0;
    width: auto;
  }

  .main-nav__list {
    margin-top: 20px;
  }
}
