$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

$font-stack: 400 14px "Oswald", "Arial", sans-serif;
$font-secondary: "Arial", "Tahoma", sans-serif;
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #68b738;
$color-primary-hover: #5eaa2f;
$color-grey: #f2f2f2;
$color-dark-grey: #444444;
$color-dark-grey-2: #222222;
$color-border: #d9d9d9;
$color-comparing-bar: #dcdcdc;
$color-border-light: #e6e6e6;
