.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: $color-black;
  margin-bottom: 40px;
  margin-top: 0;
  padding-top: 32px;
}

@media (min-width: $tablet) {
  .title {
    font-size: 60px;
    padding-top: 45px;
    margin-bottom: 65px;
  }

  .title--main {
    padding-top: 43px;
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop) {
  .title {
    padding-top: 78px;
    margin-bottom: 56px;
  }
}
