.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: $color-black;
  margin-bottom: 40px;
  margin-top: 0;
  padding-top: 32px;
}

.title--form {
  padding-top: 22px;
  margin-bottom: 34px;
}

@media (min-width: $tablet) {
  .title--form {
    margin-bottom: 0;
  }

  .title {
    font-size: 60px;
    padding-top: 55px; //45
    margin-bottom: 55px; //55
  }

  .title--example {
    padding-top: 35px;
  }

  .title--main {
    padding-top: 43px;
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop) {
  .title {
    padding-top: 68px;
    margin-bottom: 56px;
  }

  .title--example {
    padding-top: 76px;
  }
}
