.main-nav {
  display: none;
  width: 100%;
  margin-bottom: -13px;
  margin-top: 13px;
}

.main-nav--open {
  display: block;
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav__logo {
  width: 190px;
  height: 37px;
}

.site-list__link {
  font-size: 20px;
  font-weight: 500;
  color: #111111;
  position: relative;
  display: block;
  padding: 25px 0;
  text-transform: uppercase;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid #e6e6e6;
  transition: 0.3s;
  text-decoration: none;
}

.site-list__link:hover {
  opacity: 0.6;
}

.toggle-menu {
  position: relative;
  z-index: 7;
  display: inline-block;
  padding: 0;
  width: 25px;
  line-height: 30px;
  margin-bottom: 6px;
  background: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
}


@media (min-width: $tablet) {
  .toggle-menu {
    display: none;
  }

  .main-nav {
    display: block;
    margin: 0;
    width: auto;
  }
}
