$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

$font-stack: 400 14px "Oswald", "Arial", sans-serif;
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #68b738;
$color-grey: #f2f2f2;
$color-dark-grey: #444444;
$color-dark-grey-2: #222222;
