.toggle-menu {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 24px;
  height: 24px;
  line-height: 30px;
  margin-bottom: 6px;
  background: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
}

.toggle-menu::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url("../img/ic_burger-menu.svg");
  background-repeat: no-repeat;
  background-size: 24px 16px;
  background-position: center;
  width: 24px;
  height: 24px;
  z-index: -1;
}

.toggle-menu--close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: $color-white;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  width: 24px;
  height: 24px;
  z-index: 1;
}

@media (min-width: $tablet) {
  .toggle-menu {
    display: none;
  }
}
