.button {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $color-white;
  transition: 0.3s;
  background: $color-primary;
}

.button:hover {
  background: $color-primary-hover;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--medium {
  font-size: 16px;
  line-height: 20px;
}

.button--light {
  background: $color-grey;
  color: $color-dark-grey;
}

.button--light:hover {
  background: $color-border-light;
}

.button--light:active {
  color: rgba(17, 17, 17, 0.3);
}

@media (min-width: $tablet) {
  .button--order {
    font-size: 20px;
    width: auto;
    padding: 18px 24px;
  }
}
